 .wallet-option {
        background-color: rgba(69, 84, 98, 1);
    }

button.btn {
        background-color: rgba(89, 140, 27, 1);
        color: white;
    }

input.form-control {
        background-color: rgba(69, 84, 98, 1);
        border: none;
        color: white;
    }