.toolbar{
    background-color: rgba(23, 29, 37, 1);
    height: fit-content;
    
}
.card-login {
  background-color: rgba(24, 26, 33, 1);
  color: white;
  
 
}


input.form-control {
    background-color: rgba(50, 53, 60, 1);
    border: none;
    color: white;
}